.container{
    Display: flex;
    background-color: #f37c7c;

}
.box{
    width: 100px;
    height: 100px;
    background-color: #c9f37c;
    margin: 10px;
    line-height: 30px;
    animation: move 2s infinite alternate;
}